# Working with [Pandas](https://pandas.pydata.org)

#### Python Numeric Data Analysis or Pandas

- For Structured data such as that in ASCII tables (csv or xlsx), SQL tables, R data, or even Python tables
- Used to study heterogeneous data types and also time series data
- Cleaning up data and preparing it for analysis
- Analyse and passing it to other systems (like Scikit-Learn, TensorFlow, etc.)

In [23]:
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
%matplotlib inline
plt.rcParams['figure.figsize'] = [16,8]

import pandas as pd

### Series
Like a numpy array but with index labels like SQL databases.

In [24]:
s1 = pd.Series([1.1,1.2,1.3,1.4])
s1

0    1.1
1    1.2
2    1.3
3    1.4
dtype: float64

In [25]:
s1[1:3]

1    1.2
2    1.3
dtype: float64

In [26]:
s2 = pd.Series([1,2,3,4], index=['one', 'two','three','four'])
s2

one      1
two      2
three    3
four     4
dtype: int64

In [27]:
s2['three']

3

In [28]:
s2['one':'four':2]

one      1
three    3
dtype: int64

In [29]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
s2.index

Index(['one', 'two', 'three', 'four'], dtype='object')

In [31]:
s1.values

array([1.1, 1.2, 1.3, 1.4])

In [32]:
s2.values

array([1, 2, 3, 4])

In [33]:
populations = pd.Series( # not official population values
    {
        "London": 873438,
        "Barcelona": 586872,
        "Milan": 84375,
        "Paris": 384732,
        "Helsinki" : 87342
    }
)
populations

London       873438
Barcelona    586872
Milan         84375
Paris        384732
Helsinki      87342
dtype: int64

In [34]:
for k in populations.keys():
    print(k)

London
Barcelona
Milan
Paris
Helsinki

In [35]:
populations / 100000 # numbers in millions

London       8.73438
Barcelona    5.86872
Milan        0.84375
Paris        3.84732
Helsinki     0.87342
dtype: float64

In [36]:
(populations / 1000000).std()

0.3378667595461264

In [37]:
populations.idxmax()

'London'

**We can do boolean operations as well on pd Series**

c.f. `SELECT * FROM populations WHERE value > 100000;` in [SQL](https://www.postgresql.org)

In [38]:
populations[populations > 100000]

London       873438
Barcelona    586872
Paris        384732
dtype: int64

### DataFrames (very important)
![dataframe_image](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvrzkj25a871bpq7t1ugcgmn9-wpengine.netdna-ssl.com%2Fwp-content%2Fuploads%2F2019%2F01%2Fpandas-dataframe-has-indexes.png&f=1&nofb=1)
*fig. : Basic structure of a dataframe*

In [41]:
df = pd.read_excel("landmarks.xls", sheet_name = "landmarks") # requires the python library called xlrd to read xls files
df

,frame,timestamp,confidence,x_0,x_1,x_2,x_3,y_0,y_1,y_2,y_3
0,1,0.000000,0.943911,175.123,174.967,177.247,181.257,194.562,219.637,244.535,268.530
1,2,0.033333,0.948682,175.706,174.973,176.838,180.568,191.394,215.806,240.044,263.600
2,3,0.066667,0.942228,175.875,174.630,176.100,179.535,188.718,212.172,235.489,258.435
3,4,0.100000,0.943133,175.864,174.412,175.687,178.805,186.152,209.211,232.173,254.872
4,5,0.133333,0.958692,175.636,173.655,174.511,177.374,183.975,206.413,228.901,251.368
5,6,0.166667,0.942964,175.262,173.287,173.993,176.726,183.031,205.265,227.443,249.519
6,7,0.200000,0.956234,175.319,173.073,173.636,176.419,182.038,204.036,225.953,247.820
7,8,0.233333,0.959440,175.128,172.783,173.296,176.031,181.141,203.027,224.738,246.291
8,9,0.266667,0.965172,174.979,172.332,172.531,174.917,180.344,201.878,223.185,244.444
9,10,0.300000,0.958077,175.000,172.322,172.508,174.886,179.941,201.492,222.800,243.970
10,11,0.333333,0.955183,174.872,172.147,172.250,174.512,179.422,200.822,222.007,243.184
11,12,0.366667,0.953106,174.799,172.073,172.196,174.479,179.263,200.677,221.883,243.130
12,13,0.400000,0.957130,174.963,172.253,172.385,174.520,178.452,199.920,221.238,242.583
13,14,0.433333,0.958402,175.262,172.511,172.617,174.778,178.320,199.567,220.631,241.796
14,15,0.466667,0.955356,175.267,172.523,172.616,174.835,178.250,199.589,220.711,241.793
15,16,0.500000,0.939791,175.755,173.000,173.056,175.194,177.997,199.235,220.269,241.297
16,17,0.533333,0.941136,175.785,173.063,173.222,175.504,178.218,199.438,220.487,241.552
17,18,0.566667,0.950290,175.662,173.108,173.407,175.753,178.337,199.568,220.617,241.650
18,19,0.600000,0.942760,175.781,173.294,173.672,176.064,178.174,199.417,220.499,241.568
19,20,0.633333,0.951017,176.324,173.819,174.185,176.543,177.735,198.903,219.879,240.918
20,21,0.666667,0.949614,176.436,174.018,174.359,176.656,177.626,198.679,219.469,240.384
21,22,0.700000,0.953649,176.707,174.179,174.424,176.652,177.043,198.198,219.154,240.201
22,23,0.733333,0.949850,176.781,174.199,174.409,176.628,176.825,197.955,218.927,239.969
23,24,0.766667,0.948399,176.495,173.872,174.094,176.420,176.683,197.764,218.752,239.833
24,25,0.800000,0.948309,176.424,173.919,174.192,176.474,176.803,197.950,218.972,240.032
25,26,0.833333,0.951748,176.272,173.442,173.526,175.889,177.042,198.109,218.932,239.844
26,27,0.866667,0.950911,176.186,173.312,173.284,175.494,177.076,198.066,218.713,239.491
27,28,0.900000,0.950809,176.053,173.178,173.215,175.476,176.893,198.210,219.134,240.179
28,29,0.933333,0.948558,176.003,173.028,173.004,175.280,177.351,198.463,219.215,240.129
29,30,0.966667,0.949269,175.597,172.761,172.854,175.214,177.943,198.894,219.476,240.201
...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,332.333000,0.953833,149.509,147.499,148.444,151.218,195.335,215.226,235.684,256.277
9971,9972,332.367000,0.944610,149.310,147.351,148.346,151.180,195.045,215.002,235.519,256.137
9972,9973,332.400000,0.955794,149.433,147.442,148.420,151.251,195.000,215.019,235.622,256.300
9973,9974,332.433000,0.960570,149.453,147.446,148.410,151.212,194.541,214.615,235.294,256.017
9974,9975,332.467000,0.956133,149.518,147.430,148.355,151.174,194.636,214.586,235.153,255.809
9975,9976,332.500000,0.959857,149.548,147.465,148.438,151.328,195.211,214.997,235.449,256.072
9976,9977,332.533000,0.957997,149.647,147.477,148.362,151.277,195.362,215.072,235.454,256.010
9977,9978,332.567000,0.958398,149.498,147.429,148.353,151.214,195.368,215.095,235.494,256.074
9978,9979,332.600000,0.959763,149.567,147.467,148.381,151.283,195.494,215.156,235.477,256.007
9979,9980,332.633000,0.955385,149.529,147.418,148.335,151.284,195.728,215.349,235.624,256.076
9980,9981,332.667000,0.965577,149.488,147.423,148.337,151.248,195.609,215.250,235.507,255.936
9981,9982,332.700000,0.962079,149.369,147.313,148.228,151.092,195.987,215.623,235.835,256.235
9982,9983,332.733000,0.959878,149.284,147.356,148.357,151.199,196.065,215.881,236.251,256.737
9983,9984,332.767000,0.962332,149.187,147.214,148.192,151.035,196.356,216.026,236.285,256.710
9984,9985,332.800000,0.962674,149.175,147.180,148.133,150.951,196.312,216.053,236.394,256.848
9985,9986,332.833000,0.959538,149.091,147.011,147.891,150.706,196.151,216.029,236.543,257.122
9986,9987,332.867000,0.962940,148.873,146.824,147.720,150.553,196.356,216.200,236.656,257.202
9987,9988,332.900000,0.952397,148.522,146.649,147.662,150.476,196.211,216.175,236.698,257.282
9988,9989,332.933000,0.956421,148.417,146.608,147.657,150.506,196.625,216.579,237.061,257.574
9989,9990,332.967000,0.962277,148.547,146.636,147.598,150.425,196.554,216.555,237.107,257.678
9990,9991,333.000000,0.957085,148.565,146.547,147.578,150.527,196.342,216.329,236.914,257.574
9991,9992,333.033000,0.960003,148.505,146.515,147.626,150.628,196.562,216.542,237.135,257.805
9992,9993,333.067000,0.969392,148.694,146.713,147.675,150.555,196.321,216.350,236.958,257.586
9993,9994,333.100000,0.967465,148.774,146.751,147.758,150.707,196.816,216.784,237.388,258.051
9994,9995,333.133000,0.966070,149.116,147.048,147.977,150.849,196.843,216.680,237.121,257.675
9995,9996,333.167000,0.963013,149.210,147.123,148.042,150.890,196.473,216.266,236.679,257.217
9996,9997,333.200000,0.962133,149.315,147.237,148.186,151.064,196.105,215.964,236.411,256.969
9997,9998,333.233000,0.959576,149.493,147.375,148.266,151.117,196.020,215.868,236.307,256.854
9998,9999,333.267000,0.950995,149.557,147.448,148.348,151.202,196.076,215.914,236.346,256.903
9999,10000,333.300000,0.955158,149.529,147.535,148.470,151.230,195.752,215.682,236.183,256.786

In [47]:
df.head(10) # this data is from facial recognition in a single video frame by frame the coordinates give the face.

,frame,timestamp,confidence,x_0,x_1,x_2,x_3,y_0,y_1,y_2,y_3
0,1,0.000000,0.943911,175.123,174.967,177.247,181.257,194.562,219.637,244.535,268.530
1,2,0.033333,0.948682,175.706,174.973,176.838,180.568,191.394,215.806,240.044,263.600
2,3,0.066667,0.942228,175.875,174.630,176.100,179.535,188.718,212.172,235.489,258.435
3,4,0.100000,0.943133,175.864,174.412,175.687,178.805,186.152,209.211,232.173,254.872
4,5,0.133333,0.958692,175.636,173.655,174.511,177.374,183.975,206.413,228.901,251.368
5,6,0.166667,0.942964,175.262,173.287,173.993,176.726,183.031,205.265,227.443,249.519
6,7,0.200000,0.956234,175.319,173.073,173.636,176.419,182.038,204.036,225.953,247.820
7,8,0.233333,0.959440,175.128,172.783,173.296,176.031,181.141,203.027,224.738,246.291
8,9,0.266667,0.965172,174.979,172.332,172.531,174.917,180.344,201.878,223.185,244.444
9,10,0.300000,0.958077,175.000,172.322,172.508,174.886,179.941,201.492,222.800,243.970

In [48]:
df.columns

Index(['frame', 'timestamp', 'confidence', 'x_0', 'x_1', 'x_2', 'x_3', 'y_0',
       'y_1', 'y_2', 'y_3'],
      dtype='object')

In [49]:
df.index

RangeIndex(start=0, stop=10000, step=1)

### Columns are more important as in SQL

The first axis in a dataframe selects columns and not rows.

In [53]:
df['confidence']

0       0.943911
1       0.948682
2       0.942228
3       0.943133
4       0.958692
5       0.942964
6       0.956234
7       0.959440
8       0.965172
9       0.958077
10      0.955183
11      0.953106
12      0.957130
13      0.958402
14      0.955356
15      0.939791
16      0.941136
17      0.950290
18      0.942760
19      0.951017
20      0.949614
21      0.953649
22      0.949850
23      0.948399
24      0.948309
25      0.951748
26      0.950911
27      0.950809
28      0.948558
29      0.949269
          ...
9970    0.953833
9971    0.944610
9972    0.955794
9973    0.960570
9974    0.956133
9975    0.959857
9976    0.957997
9977    0.958398
9978    0.959763
9979    0.955385
9980    0.965577
9981    0.962079
9982    0.959878
9983    0.962332
9984    0.962674
9985    0.959538
9986    0.962940
9987    0.952397
9988    0.956421
9989    0.962277
9990    0.957085
9991    0.960003
9992    0.969392
9993    0.967465
9994    0.966070
9995    0.963013
9996    0.962133
9997    0.959576
9998    0.950995
9999    0.955158
Name: confidence, Length: 10000, dtype: float64

In [54]:
df['confidence'].values.mean()

0.9560966827999997

In [57]:
df['confidence'][23:26] # this gives a subset of the data

23    0.948399
24    0.948309
25    0.951748
Name: confidence, dtype: float64

In [58]:
df['confidence'][23:26][24] # gives us the specific value of the index 24

0.948309

In [59]:
df['confidence'].max()

0.983578

In [62]:
df[ ['frame', 'confidence', 'timestamp'] ].head()

   frame  confidence  timestamp
0      1    0.943911   0.000000
1      2    0.948682   0.033333
2      3    0.942228   0.066667
3      4    0.943133   0.100000
4      5    0.958692   0.133333

In [65]:
df.describe() # very important as it measures of central tendency for each column.

,frame,timestamp,confidence,x_0,x_1,x_2,x_3,y_0,y_1,y_2,y_3
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,166.650000,0.956097,163.992519,162.249467,163.247837,166.069199,198.629269,220.726456,242.901419,264.685261
std,2886.89568,96.229856,0.032989,9.413214,8.610538,8.002127,7.723163,9.318857,9.275674,9.389565,9.684043
min,1.00000,0.000000,0.280670,111.719000,112.460000,116.196000,121.583000,166.733000,189.699000,213.067000,237.886000
25%,2500.75000,83.324975,0.953182,157.428250,156.299750,158.520500,162.066500,191.318750,213.614500,236.168000,258.220250
50%,5000.50000,166.650000,0.961579,165.142000,163.539500,164.310000,166.214000,199.267000,221.184500,242.860500,264.100000
75%,7500.25000,249.975250,0.967625,170.396500,167.744000,167.564500,169.916000,204.095500,226.220500,248.634250,270.582750
max,10000.00000,333.300000,0.983578,200.409000,195.816000,195.431000,200.711000,249.504000,273.746000,297.924000,322.624000

#### Important Note - the pandas dataframe indices  are essentially columns so the keys are column names or values.

In [67]:
for i in df.keys():
    print(i)

frame
timestamp
confidence
x_0
x_1
x_2
x_3
y_0
y_1
y_2
y_3

#### But we cannot extract rows by doing `df(0)`.  Instead we use **integer location** or `iloc`

In [70]:
df.iloc[2] # gives all the values or keys for the third row i.e. the third frame.

frame           3.000000
timestamp       0.066667
confidence      0.942228
x_0           175.875000
x_1           174.630000
x_2           176.100000
x_3           179.535000
y_0           188.718000
y_1           212.172000
y_2           235.489000
y_3           258.435000
Name: 2, dtype: float64

In [72]:
df.iloc[5]['confidence'] # gives the confidence value for the third frame

0.942963999999999

`iloc` can take other selectors, such as a slice, which gives a new dataframe

In [73]:
df.iloc[-20::2]

,frame,timestamp,confidence,x_0,x_1,x_2,x_3,y_0,y_1,y_2,y_3
9980,9981,332.667,0.965577,149.488,147.423,148.337,151.248,195.609,215.250,235.507,255.936
9982,9983,332.733,0.959878,149.284,147.356,148.357,151.199,196.065,215.881,236.251,256.737
9984,9985,332.800,0.962674,149.175,147.180,148.133,150.951,196.312,216.053,236.394,256.848
9986,9987,332.867,0.962940,148.873,146.824,147.720,150.553,196.356,216.200,236.656,257.202
9988,9989,332.933,0.956421,148.417,146.608,147.657,150.506,196.625,216.579,237.061,257.574
9990,9991,333.000,0.957085,148.565,146.547,147.578,150.527,196.342,216.329,236.914,257.574
9992,9993,333.067,0.969392,148.694,146.713,147.675,150.555,196.321,216.350,236.958,257.586
9994,9995,333.133,0.966070,149.116,147.048,147.977,150.849,196.843,216.680,237.121,257.675
9996,9997,333.200,0.962133,149.315,147.237,148.186,151.064,196.105,215.964,236.411,256.969
9998,9999,333.267,0.950995,149.557,147.448,148.348,151.202,196.076,215.914,236.346,256.903

**Boolean indices in Pandas structure**

In [75]:
df.confidence > 0.96

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9970    False
9971    False
9972    False
9973     True
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980     True
9981     True
9982    False
9983     True
9984     True
9985    False
9986     True
9987    False
9988    False
9989     True
9990    False
9991     True
9992     True
9993     True
9994     True
9995     True
9996     True
9997    False
9998    False
9999    False
Name: confidence, Length: 10000, dtype: bool

In [76]:
df[df.confidence > 0.96]

,frame,timestamp,confidence,x_0,x_1,x_2,x_3,y_0,y_1,y_2,y_3
8,9,0.266667,0.965172,174.979,172.332,172.531,174.917,180.344,201.878,223.185,244.444
85,86,2.833330,0.962823,167.369,165.764,166.631,169.606,189.345,211.491,232.803,253.682
87,88,2.900000,0.960150,167.593,165.087,165.639,169.138,190.004,212.028,233.302,254.416
120,121,4.000000,0.960443,162.597,160.605,161.953,166.061,204.895,224.939,244.358,263.774
123,124,4.100000,0.962754,163.827,162.355,163.914,167.920,201.858,222.513,242.420,262.069
124,125,4.133330,0.969681,164.340,162.725,164.253,168.291,201.765,222.125,241.784,261.293
125,126,4.166670,0.964291,164.544,162.956,164.512,168.588,202.072,222.332,241.888,261.311
126,127,4.200000,0.962076,164.903,163.266,164.763,168.780,202.486,222.528,241.903,261.165
127,128,4.233330,0.963750,164.812,163.373,165.004,168.936,202.220,222.327,241.672,260.961
136,137,4.533330,0.961469,165.883,163.986,165.388,169.631,203.064,223.225,242.615,261.767
144,145,4.800000,0.965074,170.674,169.086,170.377,173.673,192.099,213.700,235.158,256.351
145,146,4.833330,0.968049,171.447,170.002,171.259,174.323,191.390,213.088,234.676,255.785
147,148,4.900000,0.960272,171.832,171.032,173.023,177.014,192.743,215.478,238.055,260.164
148,149,4.933330,0.966604,172.782,171.859,173.661,177.265,191.905,214.652,237.328,259.477
149,150,4.966670,0.963354,173.222,172.149,173.793,177.265,191.381,214.117,236.837,258.995
155,156,5.166670,0.963379,174.983,173.783,175.413,178.826,190.472,213.173,236.168,258.615
157,158,5.233330,0.962764,174.490,173.559,175.397,178.930,190.153,213.309,236.553,259.211
158,159,5.266670,0.967008,173.548,172.351,174.215,177.793,186.697,210.028,233.651,256.744
165,166,5.500000,0.961973,155.822,155.215,158.169,163.170,186.804,210.141,233.953,257.233
166,167,5.533330,0.960438,153.714,153.174,155.955,160.661,186.661,209.493,232.654,255.460
167,168,5.566670,0.964386,152.112,151.437,154.066,158.615,187.995,210.062,232.333,254.349
187,188,6.233330,0.961687,154.902,154.615,157.127,161.282,194.450,216.952,239.364,261.256
188,189,6.266670,0.961793,156.211,155.639,157.886,161.686,192.981,215.401,237.823,259.692
189,190,6.300000,0.964758,156.806,156.164,158.325,162.318,193.244,215.386,237.421,259.213
191,192,6.366670,0.965646,162.890,161.371,162.800,166.722,195.330,218.000,240.589,262.899
192,193,6.400000,0.968111,165.752,163.875,164.804,168.113,194.785,216.920,239.121,261.124
194,195,6.466670,0.976115,171.109,169.712,170.940,174.548,197.504,220.610,243.364,265.867
197,198,6.566670,0.964530,180.853,179.436,180.258,183.027,197.674,220.883,243.441,265.902
199,200,6.633330,0.961475,186.991,184.708,184.665,186.494,197.904,221.141,244.019,266.787
333,334,11.100000,0.961023,172.212,173.580,176.857,181.876,214.671,237.825,260.625,282.283
...,...,...,...,...,...,...,...,...,...,...,...
9927,9928,330.900000,0.962350,155.987,154.205,155.260,157.967,193.812,213.870,234.313,254.672
9928,9929,330.933000,0.965931,155.691,153.954,155.078,157.883,194.102,214.205,234.681,255.045
9929,9930,330.967000,0.968261,154.985,153.312,154.492,157.325,194.155,214.256,234.724,255.096
9930,9931,331.000000,0.972660,154.496,152.809,154.024,156.864,193.681,213.946,234.516,255.028
9931,9932,331.033000,0.969229,154.034,152.355,153.564,156.424,194.214,214.385,234.876,255.314
9932,9933,331.067000,0.971354,153.411,151.772,152.982,155.806,194.161,214.342,234.812,255.202
9933,9934,331.100000,0.970701,153.057,151.360,152.558,155.465,194.325,214.486,234.983,255.359
9934,9935,331.133000,0.972665,152.418,150.750,151.976,154.887,194.034,214.222,234.745,255.151
9935,9936,331.167000,0.969291,151.913,150.341,151.715,154.777,194.964,215.113,235.656,256.076
9936,9937,331.200000,0.962828,151.719,150.118,151.450,154.469,195.498,215.586,236.055,256.449
9937,9938,331.233000,0.964323,151.356,149.711,151.029,154.028,195.039,215.173,235.757,256.257
9938,9939,331.267000,0.963616,151.141,149.472,150.760,153.746,195.066,215.099,235.585,256.012
9939,9940,331.300000,0.968318,151.061,149.314,150.508,153.430,194.661,214.826,235.460,256.036
9940,9941,331.333000,0.966320,151.097,149.232,150.351,153.280,194.747,214.779,235.369,255.985
9941,9942,331.367000,0.964229,150.841,148.904,149.969,152.823,194.321,214.390,235.002,255.683
9942,9943,331.400000,0.961088,150.818,148.861,149.918,152.752,194.414,214.399,235.035,255.747
9962,9963,332.067000,0.962852,151.097,148.900,149.693,152.357,194.452,214.269,234.759,255.406
9973,9974,332.433000,0.960570,149.453,147.446,148.410,151.212,194.541,214.615,235.294,256.017
9980,9981,332.667000,0.965577,149.488,147.423,148.337,151.248,195.609,215.250,235.507,255.936
9981,9982,332.700000,0.962079,149.369,147.313,148.228,151.092,195.987,215.623,235.835,256.235
9983,9984,332.767000,0.962332,149.187,147.214,148.192,151.035,196.356,216.026,236.285,256.710
9984,9985,332.800000,0.962674,149.175,147.180,148.133,150.951,196.312,216.053,236.394,256.848
9986,9987,332.867000,0.962940,148.873,146.824,147.720,150.553,196.356,216.200,236.656,257.202
9989,9990,332.967000,0.962277,148.547,146.636,147.598,150.425,196.554,216.555,237.107,257.678
9991,9992,333.033000,0.960003,148.505,146.515,147.626,150.628,196.562,216.542,237.135,257.805
9992,9993,333.067000,0.969392,148.694,146.713,147.675,150.555,196.321,216.350,236.958,257.586
9993,9994,333.100000,0.967465,148.774,146.751,147.758,150.707,196.816,216.784,237.388,258.051
9994,9995,333.133000,0.966070,149.116,147.048,147.977,150.849,196.843,216.680,237.121,257.675
9995,9996,333.167000,0.963013,149.210,147.123,148.042,150.890,196.473,216.266,236.679,257.217
9996,9997,333.200000,0.962133,149.315,147.237,148.186,151.064,196.105,215.964,236.411,256.969

### Some Sample data to work with - Suicide rate estimates, age-standardized Estimates by country

obtained from the official website of the World Health Organisation (WHO) and their Global Health Observatory data repository - https://apps.who.int/gho/data/node.main.MHSUICIDEASDR?lang=en

In [101]:
df = pd.read_csv('MH_12.csv', 
                 header=None,
                 names = ['Country', 'Sex', 'SR_2016', 'SR_2015', 'SR_2010', 'SR_2000']
                )
df

,Country,Sex,SR_2016,SR_2015,SR_2010,SR_2000
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1
1,Afghanistan,Male,10.6,10.9,12.5,14.3
2,Afghanistan,Female,2.1,2.1,2.1,1.7
3,Albania,Both sexes,5.6,5.3,7.7,5.8
4,Albania,Male,7.0,6.7,9.5,8.2
5,Albania,Female,4.3,4.0,6.0,3.6
6,Algeria,Both sexes,3.3,3.4,3.5,4.7
7,Algeria,Male,4.9,5.0,5.1,6.7
8,Algeria,Female,1.8,1.8,1.9,2.8
9,Angola,Both sexes,8.9,9.3,10.4,13.9
10,Angola,Male,14.0,14.8,16.7,21.9
11,Angola,Female,4.6,4.7,5.1,7.2
12,Antigua and Barbuda,Both sexes,0.5,0.8,0.2,2.1
13,Antigua and Barbuda,Male,0.0,0.0,0.5,4.3
14,Antigua and Barbuda,Female,0.9,1.6,0.0,0.1
15,Argentina,Both sexes,9.1,8.7,8.6,9.5
16,Argentina,Male,15.0,14.4,14.4,16.2
17,Argentina,Female,3.5,3.4,3.2,3.6
18,Armenia,Both sexes,5.7,6.0,5.4,3.2
19,Armenia,Male,10.1,10.7,9.7,5.7
20,Armenia,Female,2.0,2.2,1.9,1.2
21,Australia,Both sexes,11.7,12.2,11.0,12.2
22,Australia,Male,17.4,18.3,16.8,19.2
23,Australia,Female,6.0,6.2,5.3,5.4
24,Austria,Both sexes,11.4,11.5,12.2,16.0
25,Austria,Male,17.5,18.2,19.5,25.2
26,Austria,Female,5.7,5.3,5.4,7.9
27,Azerbaijan,Both sexes,2.6,2.7,3.0,2.4
28,Azerbaijan,Male,4.3,4.4,5.1,4.1
29,Azerbaijan,Female,1.0,1.0,1.2,1.0
...,...,...,...,...,...,...
519,United Republic of Tanzania,Both sexes,9.6,9.5,9.3,11.8
520,United Republic of Tanzania,Male,14.3,14.2,13.8,18.2
521,United Republic of Tanzania,Female,5.4,5.3,5.2,6.4
522,United States of America,Both sexes,13.7,13.3,11.8,10.1
523,United States of America,Male,21.1,20.5,18.6,16.5
524,United States of America,Female,6.4,6.3,5.2,4.1
525,Uruguay,Both sexes,16.5,17.4,14.9,15.9
526,Uruguay,Male,26.8,28.9,24.3,28.0
527,Uruguay,Female,7.1,7.0,6.7,5.5
528,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1
529,Uzbekistan,Male,10.3,10.4,8.9,13.9
530,Uzbekistan,Female,4.6,4.5,3.3,4.5
531,Vanuatu,Both sexes,5.4,5.5,6.2,8.7
532,Vanuatu,Male,8.1,8.3,9.1,12.3
533,Vanuatu,Female,2.7,2.7,3.2,5.1
534,Venezuela (Bolivarian Republic of),Both sexes,3.8,3.9,4.5,9.1
535,Venezuela (Bolivarian Republic of),Male,6.6,6.8,7.7,16.1
536,Venezuela (Bolivarian Republic of),Female,1.2,1.2,1.5,2.4
537,Viet Nam,Both sexes,7.0,7.0,7.1,7.5
538,Viet Nam,Male,10.8,10.9,11.0,11.5
539,Viet Nam,Female,3.4,3.5,3.5,3.9
540,Yemen,Both sexes,9.8,9.9,10.6,9.1
541,Yemen,Male,13.4,13.6,14.6,12.8
542,Yemen,Female,6.2,6.3,6.6,5.5
543,Zambia,Both sexes,11.3,11.2,11.5,14.1
544,Zambia,Male,17.5,17.4,17.9,21.9
545,Zambia,Female,6.2,6.1,6.2,7.5
546,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7
547,Zimbabwe,Male,29.1,28.7,32.3,35.5
548,Zimbabwe,Female,11.1,11.1,11.1,9.8

In [102]:
df.dtypes

Country     object
Sex         object
SR_2016    float64
SR_2015    float64
SR_2010    float64
SR_2000    float64
dtype: object

In [106]:
df.index

RangeIndex(start=0, stop=549, step=1)